@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.text-yellow-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #fdf5df 0.89%,
    #f1e6c6 17.23%,
    #eee0b2 42.04%,
    #c7be99ff 55.12%,
    #d0bf79 71.54%,
    #b0a265 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-yellow-gradient {
  background: linear-gradient(
    157.81deg,
    #fdf5df 0.89%,
    #f1e6c6 17.23%,
    #eee0b2 42.04%,
    #c7be99ff 55.12%,
    #d0bf79 71.54%,
    #b0a265 100%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #000000 91.61%
  );
}

.box-shadow {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
